@import './less/variables.less';

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;

  color: @background;
  font-size: calc(10px + 2vmin);

  background-color: @main;
}
